paddlepaddle==1.8.2
parl==1.3.1
rlschool==0.3.1
atari-py==0.2.6
box2d-py==2.3.8
gym==0.17.2
-e git+https://github.com/ntasfi/PyGame-Learning-Environment.git@3dbe79dc0c35559bb441b9359948aabf9bb3d331#egg=ple
pygame==1.9.4
jupyterlab==2.2.10
matplotlib==3.2.1
numpy==1.18.5